// -----------------------------
// BREAKPOINTS
// -----------------------------
$breakpoint-sml: 375px;
$breakpoint-med: 768px;
$breakpoint-lrg: 1200px;

// -----------------------------
// LAYOUT
// -----------------------------


// -----------------------------
// COLORS
// -----------------------------
