// -----------------------------
// BREAKPOINTS
// -----------------------------
$breakpoint-sml: 375px;
$breakpoint-med: 768px;
$breakpoint-lrg: 1200px;

// -----------------------------
// LAYOUT
// -----------------------------


// -----------------------------
// COLORS
// -----------------------------
$primary-color: rgb(70, 120, 70);
$secondary-color: rgb(50, 100, 50);

$border-color: rgb(206, 138, 65);

$primary-font-color: rgb(255, 200, 120);
$secondary-font-color: rgb(221, 221, 221);