footer {
    height: 100%; // to take up entire gird-area
    text-align: center;
    border-top: 2px $border-color solid;
    background-color: $secondary-color;
    color: $secondary-font-color;
    .pageWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}