// STYLES FOR LOGIN AND REGISTER PAGES //
main .pageWrap {
    padding: 10px 0;
    position: relative;
    > div {
        flex: 1;
        text-align: center;
    }
    .welcome {
        position: absolute;
        top: 10px;
    }
}
div.signupForm {
    @include mq(medium) {
        order: 1;
    }
}

// STYLES FOR INDEX PAGE //
table.tasks {
    flex: 1;
    align-self: start;

}