* {
    box-sizing: border-box;
}

h2 {
    margin-top: 0; //the class .pageWrap takes car of layout with padding instead
    text-align: center;
    color: $secondary-font-color;
}

a {
    color: $secondary-font-color;
}

caption {
    font-size: 2rem;
    color: $secondary-font-color;
}

form {
    border: 2px $border-color solid;
    border-radius: 10px;
    display: inline-block;
    fieldset {
        border: none;
        margin: 10px;
    }
    h4 {
        margin-top: 0px;
    }
}
fieldset > div {
    margin: 10px;
}